.container {
  margin: 20px;
  padding: 20px;
  display: inline;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
}

.button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #3e8e41;
}

.unread {
  background-color: #f44336;
  color: white;
  padding: 0 5px;
  border-radius: 50%;
  margin-left: 5px;
}

.logoutButton {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #c62828;
}
