.container{
    border: 1px solid grey;
    height: 400%;
    border-radius: 5px;
    margin-right: 30%;
    margin-left: 20px;
    ;
    /* margin-top: 30px; */
}

.button {
    font: inherit;
    width: 130px;
    font-weight: bolder;
    padding: 0.25rem 1rem;
    text-align: center;
    display: flex;
    margin-top: 20px;
    width: 130px;
    margin:auto
}
